[submodule "Airline_API_Gateway"]
	path = Airline_API_Gateway
	url = https://github.com/Raze100/Airline_API_Gateway
[submodule "FlightsAndSearchService"]
	path = FlightsAndSearchService
	url = https://github.com/Raze100/FlightsAndSearchService
[submodule "Auth_Service"]
	path = Auth_Service
	url = https://github.com/Raze100/Auth_Service
